root = true

[*.cs]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all

[*.{config,csproj,sln,sql,md,bat}]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
